[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git

[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp.git

[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git

[submodule "libraries/glad"]
	path = libraries/glad
	url = https://github.com/Dav1dde/glad.git

